* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
}
.container {
    background-color: beige;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container_header {
    background-color: #C4DF9B;
    border-bottom: 3px solid black;
}
.container_header__logo {
    align-self: flex-start;
}
.main {
    flex-direction: column;
    font-family: Roboto, sans-serif;
}
.main_article {
    flex: 3;
    border-right: 3px solid black;
    border-left: 3px solid black;
}
.main_article__position {
    box-sizing: border-box;

}
.main_article__about {
    box-sizing: border-box;
    border-top: black 3px solid;
}
.main_article__examples{
    box-sizing: border-box;
    border-top: black 3px solid;
}
.main_article__experience {
    box-sizing: border-box;
    border-top: black 3px solid;
}
.main_article__education{
    box-sizing: border-box;
    border-top: black 3px solid;
}
.main_aside {
    box-sizing: border-box;
    flex: 1;
}
.main_aside__skills {
    border-top: 3px solid black;
}
.main_aside__english {
    border-top: 3px solid black;
}
.container_footer {
    border-top: 3px solid black;
    flex-direction: row;
    flex: 0 0 5em;
    background-color: #c4df9b;

}
.container_footer__item {
    font-weight: 500;
    font-family: Roboto, sans-serif;
    margin: 0 auto;
}
.container_footer__nav {
   margin: 0 auto;
}
.social-icons {
    align-content: flex-end;
    width: 40px;
    height: 40px;
    margin: 5px 5px 0px 10px;
}
h1 {
    font-weight: 500;
    font-family: Roboto, sans-serif;
    color: #000000;
    font-size: 36px;
}
h2 {
    font-weight: 500;
    font-family: Roboto, sans-serif;
    color: #2a4723;
    padding-left: 5px;
    margin-left: 5px;
    font-size: 1.5em;
}
h3 {
    font-weight: 500;
    font-family: Roboto, sans-serif;
    color: #000000;
    padding-left: 5px;
    margin-left: 5px;
    font-size: 1.25em;
}
li {
    font-weight: 400;
    font-family: Roboto, sans-serif;
    color: #000000;
    font-size: 1em;
}
p {
    font-weight: 400;
    font-family: Roboto, sans-serif;
    color: #000000;
    margin-left: 10px;
    font-size: 1em;
}
pre {
    font-weight: 400;
    font-family: Roboto, sans-serif;
    color: #000000;
    font-size: 1em;
}
